.container {
	padding: 20px;
}

.list__container {
	margin-top: 15px;
	max-height: 250px;
	overflow: auto;
}

.list {
	display: flex;
	flex-flow: column-reverse wrap;
	justify-content: center;
	margin-top: 0;
	margin-right: 5px;
	padding: 0;
	list-style: none;
}

.list>li {
	padding: 0.5rem;
}

.list>li:nth-last-child(odd) {
	background-color: #f6f8fa;
}

.list>li:nth-last-child(even) {
	background-color: #fff;
}

:global(.button).button__clear {
	background-color: orange;
	/* position: absolute; */
	/* bottom: -20px; */
	/* right: 0; */
}