.container {
  text-align: center;
  padding: 20px;
}

.time {
  font-size: 2rem;
  font-family: monospace;
}

:global(.button).button__start {
  background-color: #4CAF50;
}

:global(.button).button__reset {
  background-color: #f44336;
}

:global(.button).button__pause {
  background-color: #008CBA;
}

:global(.button).button__lap {
  background-color: #555555;
}

:global(.button).button__start:enabled:hover {
  background-color: #45a049 !important;
}

:global(.button).button__reset:enabled:hover {
  background-color: #da190b !important;
}

:global(.button).button__pause:enabled:hover {
  background-color: #007095 !important;
}

:global(.button).button__lap:enabled:hover {
  background-color: #444 !important;
}